# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build files
dist/
build/
client/dist/

# Environment Variables (Keep your secrets safe!)
.env
.env.local
server/.env
client/.env

# Database
*.db
*.db-journal
server/prisma/dev.db
server/prisma/*.db

# OS Files
.DS_Store